
var newNoteForm = document.getElementById('note_content');
var newNote = newNoteForm.value;

var today = new Date;
var notes = document.getElementById('todays-notes');
var header = document.getElementById('todays-notes-header');



notes.insertAdjacentHTML('afterbegin',
  `<div class="note-card">
        <p>${today.toDateString()}</p>
        <h3>${newNote}</h3>
      </div>
    `);
header.innerHTML = "";
header.insertAdjacentHTML('afterbegin',"<h3>Today's MindNotes</h3>");
newNoteForm.value = "";



