<%= render 'shared/navbar' %>

<h1 class="center-30 header-1"><%= @practice.song.title %> Notes</h1>
  <% if @notes.empty? %>
    <h1>You have no notes for this song</h1>
  <% else %>
    <div class="review-songs">
      <% @notes.each do |note| %>
        <div class="song-item">
          <p class="note-card-content"><%= note.content %></p>
        </div>
    <% end %>
    </div>
  <% end %>
