// Specific CSS for your home-page


.mobile-container {
  padding: 34px;
  width: 640px;
  height: 100vh;
  background-color: #CECECE;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  position: relative;
}

body a {
  text-decoration: none !important;
}
