// Specific CSS for your home-page


.mobile-container {
  padding: 34px;
  width: 640px;
  height: 100vh;
  background-color: $light-gray;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  position: relative;
}

body a {
  text-decoration: none !important;
  color : $gray;
  &:hover{
    color: $gray !important;
  }
}
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  color: black;
  background-color: white;
  width: 65px;
}

ul.hmenu li {
  display: inline;
}
