<div class="import-options">
  <h1>How would you like to add your songs?</h1>
  <%= link_to "Add Song", new_song_path, class: "mn-btn mn-btn-create"  %>
  <h1>- Or -</h1>
  <%= link_to "Import Playlist", "https://accounts.spotify.com/authorize?client_id=1e321e4cf1734fb88baf478fca5e6c4b&redirect_uri=mindnote.com%2Fplaylists&response_type=token", class: "mn-btn mn-btn-spotify" %>
</div>
