<div class="container">
  <div class="page-body">
    <form id="song-search">
      <input type="text" class="query" placeholder="Search for a Song">
    </form>
     <%= form_for(@song) do |f| %>
      <div class="song-list">
      </div>
     <% end %>
  </div>
  <div class="modal-footer">
    <input type="submit" form="new_song" value="Create Song" class="mn-btn mn-btn-primary">
    <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
  </div>
</div>

