<% if practices.empty? %>
  <div class="practice-card sad">
    <h1>Select a song to start!</h1>
  </div>
<% else %>
  <div class="practice-card">
    <h1>Up next to practice:</h1>
    <div class="info">
      <h2><%= image_tag practices.first.song.album_url %></h2>
      <div class="details">
        <h1><%= practices.first.song.title %></h1>
        <h3> <%= practices.first.song.artist.name %> </h3>
        <p>Tap to practice</p>
      </div>
    </div>
  </div>

  <% end %>
