<% if practices.empty? %>
  <div class="practice-card sad">
    <h1>Select a song to learn!</h1>
  </div>
<% else %>
  <div class="practice-card">
    <p>Up next to practice:</p>
    <div class="info">
      <%= image_tag practices.first.song.album_url %>
      <div class="details">
        <h1><%= practices.first.song.title %></h1>
        <h3><%= practices.first.song.artist.name %></h3>
        <p>Tap to practice</p>
      </div>
    </div>
    <%= link_to "", practice_path(practices.first.id), class: "song-item-link"  %>
  </div>

  <% end %>
