
<h1>Mind Note</h1>


<!-- Modal for create song -->
<div class="modal fade search-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="song-search">
          <input type="text" class="query" placeholder="Search for a Song">
        </form>
         <%= form_for(@song) do |f| %>
          <div class="song-holder">
          </div>
         <% end %>
      </div>
      <div class="modal-footer">
        <input type="submit" form="new_song" value="Create Song" class="mn-btn mn-btn-primary">
        <!-- <a href="#" class="mn-btn mn-btn-primary" data-dismiss="modal">Create Song</a> -->
        <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal for learn song -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<%= render "practice_card" %>

<a href="#" data-toggle="modal", data-target='#exampleModalScrollable' >
  <div class="learn-bar">
  <h1>Learn a New Song</h1>
  <div class="learn-bar-albums">
    <% @unlearned.each do |practice| %>
      <% unless practice.song.album_url.nil? %>
        <%= image_tag image_url(practice.song.album_url) %>
      <% end %>
    <% end %>
  </div>
</a>


<div class="review-card">
  <h1>4</h1>
  <div class="details">
    <h1>Songs left to review</h1>
    <p>view</p>
  </div>
</div>


<button type="button" class="mn-btn-circle botom-right-corner" data-toggle="modal" data-target="#exampleModalCenter">
  +
</button>
