
<h1>Mind Note</h1>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade search-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="song-search">
          <input type="text" class="query" placeholder="Search for a Song">
        </form>
         <%= form_for(@song) do |f| %>
          <div class="song-holder">

          </div>
         <% end %>
      </div>
      <div class="modal-footer">
        <input type="submit" form="new_song" value="Create Song" class="mn-btn mn-btn-primary">
        <!-- <a href="#" class="mn-btn mn-btn-primary" data-dismiss="modal">Create Song</a> -->
        <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<%= render "practice_card" %>

<div class="learn-bar">
  <h1>Learn a New Song</h1>
  <div class="learn-bar-albums">
    <% @unlearned.each do |practice| %>
      <% unless practice.song.album_url.nil? %>
        <%= image_tag image_url(practice.song.album_url) %>
      <% end %>
    <% end %>
  </div>
  <p>Tap to Choose</p>
</div>

<div class="review-card">
  <h1>4</h1>
  <div class="details">
    <h1>Songs left to review</h1>
    <p>view</p>
  </div>
</div>


<button type="button" class="mn-btn-circle botom-right-corner" data-toggle="modal" data-target="#exampleModalCenter">
  +
</button>
