
<h1>Mind Note</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add Song
</button>

<!-- Modal -->
<div class="modal fade search-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="song-search">
          <input type="text" class="query" placeholder="Search for a Song">
        </form>
         <%= form_for(@song) do |f| %>
         <% end %>
      </div>
      <div class="modal-footer">
        <input type="submit" form="new_song" value="Create Song" class="mn-btn mn-btn-primary">
        <!-- <a href="#" class="mn-btn mn-btn-primary" data-dismiss="modal">Create Song</a> -->
        <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>




<a href="#" class="mn-btn mn-btn-primary">Choose Song</a>
<a href="#" class="mn-btn mn-btn-secondary">Choose Song</a>
