
<h1>Mind Note</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add Song
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <% @song=Song.new %>
         <%= form_for(@song) do |f| %>
           <%= f.submit "add a song"%>
         <% end %>

         <form id="song-search">
           <input type="text" class="query">
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<a href="#" class="mn-btn mn-btn-primary">Choose Song</a>
<a href="#" class="mn-btn mn-btn-secondary">Choose Song</a>
