<div class="music-sheet">
  <%= image_tag("landing-logo", class: "logo-title") %>
  <h1 class="boldify">Ready to practice?</h1>
  <%= link_to "Begin", root_path, class: "mn-btn mn-btn-primary" %>
</div>
