<div class="music-sheet landing">
  <%= image_tag("og-image", class: "landing-logo-title") %>
  <h1 class="boldify">Never forget a Song</h1>
  <h3 class="boldify mb-3">Change the way you practice with advanced memorization algorithms</h3>
  <%= link_to "Begin", root_path, class: "mn-btn mn-btn-primary" %>
</div>
