<% if practice.nil? %>
  <div class="practice-card">
    <h1>No songs to practice</h1>
  </div>
<% else %>
  <div class="practice-card">
    <h1>Up next to practice:</h1>
    <div class="info">
      <h2></h2>
      <div class="details">
        <h1><%= practice.song %></h1>
        <h3> <%= practice.song.artis %> </h3>
        <p>Tap to practice</p>
      </div>
    </div>
  </div>

  <% end %>
