<div class="review-songs">
  <h1>Songs due for Review</h1>
  <% @practices.each do |practice| %>
    <div class="song-item">
      <%= image_tag practice.song.album_url, alt: practice.song.title %>
      <div class="song-item-info">
        <h2><%= practice.song.title %></h2>
        <p><%= practice.song.artist.name %></p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to root_path do %>
<p class="mn-btn-circle"><i class="fas fa-arrow-left"></i></p>
<% end %>

