
<%= link_to root_path do %>
<p class="mn-btn-circle"><i class="fas fa-arrow-left"></i></p>
<% end %>


<div class="song-card">
  <div class="song-card-info">
    <h1>Blue Madonna</h1>
    <h3>Borns</h3>
  </div>
</div>

<%= link_to practices_path do %>
    <p class="mn-btn-primary mn-btn big-btn center">Finish Rehersal</p>
  <% end %>



