.alert {
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: -4px;
  font-size: $header-font-size-1;
  z-index: 1000;
  padding: 24px;
  color: white;
  opacity: 0.9;
  border-radius: 10px;
  background-color: #eb8072;
  border:2px solid #b6c5c7;
  font-family: $headers-font;

}


