.mn-btn {
  color: white;
  width: 250px;
  padding: 10px;
  font-size: 30px;
  border-radius: 26px;
  transition: background-color .2s ease;
  border: none;
  height: 55px;
}

.mn-btn-primary {
  background-color: $orange;

  &:hover {
    background-color: #f9966d;
    text-decoration: none;
    color: white;
  }
}

.mn-btn-circle{
  height: 100px;
  width: 100px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 61px;
  color: white;
  background: linear-gradient(208.57deg, #FD8281 14.54%, #FE8451 90.24%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.linear-bg{
  background: linear-gradient(208.57deg, #FD8281 14.54%, #FE8451 90.24%);
}

.position-abs{
  position: absolute;
}

.mn-btn-lrg {
  color: white;
  width: 250px;
  padding: 18px 75px;
  font-size: 33px;
  border-radius: 42px;
  transition: background-color .2s ease;
  border: none;
}

.botom-right-corner{
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.mn-btn-secondary {
  background-color: $pink;

  &:hover {
    background-color: #f79292;
    text-decoration: none;
    color: white;
  }
}


.mn-menu-btn {
    background-color: transparent;
    border: none;
}

.center {
  margin: 0 auto;
  margin-top: 46px;
}

.relative {
  position: relative;
}

.link {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

}
