.mn-btn {
  color: white;
  width: 250px;
  padding: 10px;
  font-size: 22px;
  border-radius: 26px;
  transition: background-color .2s ease;
  border: none;
}

.mn-btn-primary {
  background-color: $orange;

  &:hover {
    background-color: #f9966d;
    text-decoration: none;
    color: white;
  }
}

.mn-btn-secondary {
  background-color: $pink;

  &:hover {
    background-color: #f79292;
    text-decoration: none;
    color: white;
  }
}
