.form-login {
  border-radius: 5px;
  padding: 40px 20px 14px 20px;
  background-color: white;
  width: 90%;
  margin: auto;

  h2 {
    font-weight: lighter;
  }

  .form-check {
    text-align: left;
    margin-left: 15px;
  }

  .form-title {
    text-align: center;
    color: $gray;
  }

}

.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="text"],
.form-login input[type="date"],
.form-login input[type="datetime"],
.form-login input[type="number"],
.form-login input[type="search"],
.form-login input[type="time"],
.form-login input[type="url"],
.form-login textarea,
.form-login select
{
  box-sizing: border-box;
  font-size: 20px !important;
  text-align: left;
  outline: none;
  display: block;
  margin: 30px auto;
  width: 90%;
  padding: 0px;
  border: none;
  border-bottom: 1px solid #666;
  background: transparent;
  height: 25px;
  &:focus {
    box-shadow: none;
  }
}

.login-links {
  a {
    color: #C4C4C4;

    &:hover {
      color: #7C7C7C;
    }
  }
}


.landing-logo-title {
  width: 100%;

}

.logo-title {
  margin: 50px 11px 50px 0;
  width: 80%;
  // padding-right: 4px;
}

.music-sheet {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(asset_path("music-sheet-pro"));
  h3 {
    max-width: 300px;
    margin: auto;
    color: #172d58;
    opacity: .6;
    padding: 21px 0;
  }
  h1 {
    margin: auto;
    margin-top: 102px;
    color: #172d58;
    font-size: 43px;
    max-width: 257px;
  }

  a {
    width: 90%;
    margin: auto;
    border: 2px solid white;
  }
}
