.dropdown-song{
  position: relative;
  display: block;
  height: 100%;
  padding: 9px 20px;
  font-size: 22px;
}


.dropdown-song-content{
  position: absolute;
  display: none;
  height: 100%;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  a{
    font-size: 10px;
  }
}

.show{
  display: block;
}
