.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.mn-navbar {
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $secondary;

  i {
    font-size: $header-font-size-1;
    color: $secondary;
    padding: 9px 7px 0 0;
  }
}
