.note-card-content{
  height: 100%;
  width: 100%;
  padding: 29px 26px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.note-holder{
  height: 350px;
  overflow: scroll;
  background-color: white;
  opacity: 1;
  border-radius: 6px;
  text-align: left;
  padding: 23px;
}
