.playlist-card {
  background-color: white;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  color: white;
  height: 326px;
  width: 326px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0 solid #80DA60;
  transition: all .3s ease;

  p {
    font-size: $header-font-size-1;
  }
}

#playlists input[type=radio]:checked + .playlist-card {
  border: 8px solid #80DA60;
}

#playlists {
  margin-bottom: 55px;
}

.playlist-songs {
  margin: 25px 0 45px 0;
  padding: 10px;
  input[type=checkbox]:checked + .song-item {
    border-right: 13px solid #80DA60;
  }
}

.playlist-form {
  overflow: scroll;
  h1 {
    margin: 30px;
  }
}
