.practice-card{
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 3px;

  h1 {
    text-align: left;
    font-size: $header-font-size-2;
    margin: 0;
  }

  h3 {
    font-size: $header-font-size-2;
  }
}


.info{
  display: flex;
  margin-top: 5px;
  img{
    height: 90px;
    width: 90px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .31);
  }
}

.details{
  flex-grow: 3;
  text-align: center;

  h1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: $header-font-size-2;
    margin-top: 15px;
    margin-left: 13px;
    width: 223px;
  }
  h3 {
    margin-top: 5px;
    margin-left: 13px;
    text-align: left;
    font-size: $body-font-size-1;
  }
  p {
    font-size: $body-font-size-1;
    margin: 15px 10px 0 0;
    text-align: right;
  }
}

.sad{
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1{
    font-size: $header-font-size-1;
    text-align: center;
    margin-bottom: 0;
  }
}

.trash{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: 20px;
}
