.practice-card{
  position: relative;
  background-color: white;
  padding: 15px 25px;
  border-radius: 3px;

  p {
    text-align: left;
    font-size: 21px;
    margin: 0;
  }

  h3 {
    font-size: 18px;
  }
}


.info{
  display: flex;
  margin-top: 10px;
  img{
    height: 130px;
    width: 130px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .31);
  }
}

.details{
  flex-grow: 3;
  text-align: center;

  h1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 34px;
    margin-top: 15px;
  }

  h3 {
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
    margin: 0;
    text-align: right;
  }
}

.sad{
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1{
    font-size: $header-font-size-1;
    text-align: center;
    margin-bottom: 0;
  }
}

.trash{
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 20px;
}
