.song-card{
  background-size: cover;
  height: 530px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 59px;
  margin-bottom: 77px;
  border-radius: 10px;
  .song-card-info{
    color: white;
    text-shadow: 1px 1px 2px black;
    h3{
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 62px;
    }
    p {
      font-size: 45px;
    }
  }
}
