.review-card{
  height: 173px;
  width: 100%;
  background-color: white;
  padding: 17px 38px;
  border-radius: 6px;
  padding-bottom: 0px;
  display:flex;
  margin-top: 50px;
  h1{
    width: 27%;
    font-size: 20px;
    font-size: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
}


.review-card .details{
  width: 73%;
  padding-top: 44px;
  h1{
    font-size: 31px;
    width: 100%;
  }
  p{
    margin-top: 30px;
  }
}
