.review-card{
  height: 125px;
  width: 100%;
  position: relative;
  background-color: white;
  padding: 7px 10px;
  border-radius: 6px;
  display: flex;
  margin-top: 15px;
  h1>span {
    font-size: 50px;
  }
  h1 {
    width: 27%;
    font-size: $header-font-size-1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    }
  p {
    font-size: $body-font-size-1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
  }
}

.cero-review {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
  font-size: $header-font-size-1;
}


.review-card .details{
  width: 73%;
  display: flex;
  align-items: center;
  h1{
    font-size: $header-font-size-1;
    width: 100%;
    margin: 0;
  }
  p{
    margin-top: 30px;

  }
  a {
    text-decoration: none;
    color: $gray;
  }
  a:hover {
    color: black;
  }
}


.review-songs {
  height: 455px;
  margin-top: 20px;
  overflow: scroll;
  h1 {
    color: white;
    font-size: 45px;
  }

  li {
    color:white;

  }
}
