
#song-search {
  margin-top: 6px;
  .query {
    border-radius: 25px;
    box-sizing: border-box;
    font-size: $header-font-size-2 !important;
    text-align: center;
    outline: none;
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 7px;
    border: 1px solid $gray;
    background: transparent;
    box-shadow: none;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    &:focus {
      box-shadow: none;
    }
  }
}

.new_song {
  height: 420px;
}

.song-list input[type=radio]:checked + label {
  overflow: hidden;
  border-bottom: 10px solid $primary;
  // border-left: none;
}

.page-body input[type=submit] {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.item-radio {
  display: flex;
}



.page-body {
  padding: 0 10px;
}
