
#song-search {
  .query {
    border-radius: 25px;
    box-sizing: border-box;
    font-size: $header-font-size-2 !important;
    text-align: center;
    outline: none;
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 7px;
    border: 1px solid $gray;
    background: transparent;
    box-shadow: none;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    &:focus {
      box-shadow: none;
    }
  }
}

.song-list input[type=radio]:checked + label {
  background-color: $primary;
}

.item-radio {
  display: flex;
}

 .active{
    border-right: 5px solid $primary;
  }

.learn-bar {
  position: relative;
  margin-top: 15px;
  background-color: white;
  color: $gray;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  h1 {
    color: $gray;
    font-size: $header-font-size-2;
    margin: 0px 15px 14px 10px;
    text-align: left;
  }

  p {
    font-size: $body-font-size-1;
    text-align: right;
    margin: 0;
    margin: 15px 15px 7px 15px;
  }

  .learn-bar-albums {
    display: flex;
    justify-content: space-around;
    img {
      width: 65px;
      height: 65px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.31);
    }
  }
}

.page-body{
  height:430px;
}

.importance-border-red {
  border-right: 6px solid rgb(221, 17, 17);
}
.importance-border-orange {
  border-right: 6px solid rgb(219, 100, 14);
}
.importance-border-yellow {
  border-right: 6px solid rgb(232, 236, 26);
}
