.scroll-list {
  margin: 9px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stats-add {
  width: 90%;
  justify-content: space-around;
}


.navigate-choices {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  color: white;
  position: relative;
  bottom: 35px;
  width: 86%;
  margin: auto;

}
