.stat{
  background-image: linear-gradient(to bottom right, $secondary , $primary);
  height: 122px;
  color: black;
  margin-bottom: 15px;
  padding: 22px 0;
  display:flex;
  justify-content: center;
  position: relative;
  color: white;
  h3{
    font-size: $header-font-size-1;
  }
  i{
    position: absolute;
    top: 14px;
    left: 288px;
    font-size: 20px;
    height: 34px;
    width: 34px;
    background-color: #182D58;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 31px;
    color: white;
  }
}

.flex-center{
  display: flex;
  align-items: center;
  height: 100%;
}

.stat .quality{
  font-size: 15px;
}

.stat .numb{
  font-size: 35px;
}
