.star-form {
  h1 {
    font-size: $header-font-size-1;
    margin-bottom: 25px;
  }
}

.star-row {
  text-align: center;
  height: 46px;
  margin-bottom: 10px;
  padding: 0 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.star-row:not(:checked) > input[type=radio] {
  display: none;
}
.star-row:not(:checked) > label {
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#9e9e9e;
}
.star-row:not(:checked) > label:before {
  font-size: 45px;
  content: '★';
}
.star-row > input:checked ~ label {
  color: $secondary;
}
.star-row:not(:checked) > label:hover,
.star-row:not(:checked) > label:hover ~ label {
  color: $secondary;
}

.star-row > input:checked + label:hover,
.star-row > input:checked + label:hover ~ label,
.star-row > input:checked ~ label:hover,
.star-row > input:checked ~ label:hover ~ label,
.star-row > label:hover ~ input:checked ~ label {
  color: $secondary;
}
