<h1 class="">My Playlists</h1>

<form class="playlist-form" action="/playlists/import" method="get">
  <div id="playlists">
  </div>
  <input type="submit" value="Select" class="mn-btn bottom-btn-spotify">
</form>
