<%= render 'shared/navbar' %>
<form class="playlist-form" action="/playlists/import" method="get">
  <h1>My Playlists</h1>
  <div id="playlists">
  </div>
  <input type="submit" value="Select" class="mn-btn bottom-btn-spotify">
</form>
